@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(240, 240, 240);
}

ul.pagination li {
    cursor: pointer;
}

.card-movie .card {
    cursor: pointer;
}

#movie-modal {
    #accordion-video iframe {
        display: block;
        margin: 0px auto;
    }
}

.loading {
    position: absolute;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.50);

    img {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }
}

#results-search {
    max-height: 100px;
    overflow: scroll;
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top: none;
    z-index: 9;
    position: absolute;
    width: 100%;

    ul {
        li {
            cursor: pointer;
            margin: 0px;
            padding: 5px 10px;
            text-align: left;
            list-style: none;
            border-bottom: 1px solid rgb(245, 245, 245);

            &:last-of-type {
                border-bottom: none;
            }

            &:hover {
                background-color: rgb(245, 245, 245);
            }
        }
    }
}