<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}We Movies{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container">
                    <a href="{{ path('main_index') }}" class="navbar-brand d-flex align-items-center">
                        <strong>We Movies</strong>
                    </a>
                </div>
            </div>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer class="text-muted py-5">
            <div class="container">
                <p class="float-end mb-1">
                <a href="#">Revenir en haut</a>
                </p>
                <p class="mb-1">© We Movies - 2021</p>
            </div>
        </footer>
    </body>
</html>
